<div class="navbar-nav">
    <a class="navbar-brand" asp-controller="Home" asp-action="Index">СППР</a>
    <a class="nav-link" asp-controller="Home" asp-action="Index">КР1</a>
    <a class="nav-link" asp-controller="Catalog" asp-action="Index">Каталог</a>
    <a class="nav-link" asp-area="Admin" asp-page="/Index">Администрирование</a>
</div>
